$fuente_principal :"Finlandica", sans-serif;

//colores
$verde:#4CB8B3;
$rosa: #F53756;
$amarillo: #FFC300;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;
$violeta: #C70039;
$naranja: #F5B041;
$mostaza: #9C640C;
$gris: #AEB6BF;
$gris1: #808B96;
$verde-bosque: #2ECC71;
//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;